
@using AssessoriaWeb.Models;
@{ ViewBag.Title = "Dashboard"; }
@Styles.Render("~/Content/ScheduleDashBoardStyle.css")
<div id="main">
    @{ Html.RenderAction("ScheduleTable", DateTime.Now); }
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/ScheduleDashBoard.js")
    @Scripts.Render("~/bundles/jqueryval")
}