@{
    ViewBag.Title = "Contato";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    <h2>Time Holz<br /></h2>
    <h4>
        <i class='fa fa-map-marker'></i> Ajuricaba - RS <br /><br />
        <i class='fa fa-map-marker'></i> Ijuí - RS <br /><br />
        <i class='fa fa-phone'></i> 99999-9999
    </h4>
</address>

<address>
    <h4>
        <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </h4>
</address>

