@{
    ViewBag.Title = "Contato";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    <h2>Time Holz<br /></h2>
    <h4>
        <i class='fa fa-map-marker'></i> Ajuricaba - RS <br /><br />
        <i class='fa fa-map-marker'></i> Ijuí - RS <br /><br />
        <i class='fa fa-phone'></i> (55) 99999-9999
    </h4>
</address>

<address>
    <h4>
        <strong>Suporte:</strong>   <a href="mailto:suporte@timeholz.com">suporte@timeholz.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing@timeholz.com">marketing@timeholz.com</a>
    </h4>
</address>

<hr />
<footer class="text-right">
    <a href="https://www.facebook.com/timeholz/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/timeholz/" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/timeholz/" class="fa fa-instagram"></a>
</footer>

